.team-div {
    border-radius: 20px;
}

.team-div:hover .team-text {
    background-color: #FF4949;
    color: white;
    transition: all 300ms ease-in-out;
}

.team-text {
    overflow: hidden;
}

.team-text div {
    height: 100%;
    width: 10px;
    background: #FF4949;
    position: absolute;
    top: 0;
    left: 0;
    color: #FF4949;
    // border-radius: 0px 0px 01px 0px;
}

.team-text img {
    position: absolute;
    top: 0;
    right: 0;
}

.form-div {
    background-color: #212830;
    border-radius: 10px;
    width: 80%;
}

.LatestNewsCards:hover a:last-of-type {
    display: block;
}

.Service {
    display: flex;
}

.Service:hover span:first-child {
    order: 2;

}

.Service:hover span:last-child {
    order: 1;
}

.Service:hover {
    background-color: black !important;
}

.Arrow {
    fill: black !important;
}