.transition-scss:hover div:last-child {
    transform: translateY(-15px);
    animation: move-up 500ms forwards;
    transition: 500ms;
    animation-timing-function: ease-in-out;
}

.primary-color:hover {
    background-color: #FF4949;
}

.primary-color:hover svg:first-child {
    background-color: white;
    fill: black;
}
.transition-scss:hover button:last-child {
    display: block;
    color: white;
    transition: 0.5s;
}

.read-more-button:hover span:first-child{
     transform: translateX(60px);
     animation: 500ms forwards;
     transition: 500ms;
     animation-timing-function: ease-in-out;
}

.read-more-button:hover span:last-child{
    transform: translateX(-90px);
    animation: 500ms forwards;
    transition: 500ms;
    animation-timing-function: ease-in-out;
}