mat-icon {
    font-size: 16px;
    height: 16px;
    width: 16px;
    // line-height: 24;
    color: white;
    margin-right: 10px;
}
@media (min-width: 1420px) {
    .header{
     padding-left: 80px;
     padding-right: 80px;
    }
   }