.hc:hover {
    color: #ff4949;
}

.bg1 {
    background-color: #09111A;
}

.bg2 {
    background-color: #ff4949;
}

.hv:hover {
    color: #ff4949;
}

.hv1:hover {
    color: #09111A;
}

.rounded1 {
    border-radius: 10px
}


.fa-brands:hover {
    color: #ff4949;
}

.fa-brands {
    color: aliceblue;
}