.hc:hover {
    color: #ff4949;
}

.bg1 {
    background-color: #09111A;
}

.bg2 {
    background-color: #ff4949;
}

.hv:hover {
    color: #ff4949;
}

.hv1:hover {
    color: #09111A;
}

.rounded1 {
    border-radius: 10px
}


.fa-brands:hover {
    color: #ff4949;
}

.fa-brands {
    color: aliceblue;
}

.card-rounded {
    border-radius: 10px 0 0 10px;
}

.pricing-bullet li::before {
    content: "\2022";
    color: #ff4949;
    font-weight: bolder;
    display: inline-block;
    width: 1.5em;
    margin-left: -1em;
    font-size: 24px;
}

@media (max-width: 800px) {
    .card-rounded {
        border-radius: 10px;
    }
}

.card-rounded-1 {
    border-radius: 0px 10px 10px 0px;
}

@media (max-width: 800px) {
    .card-rounded-1 {
        border-radius: 10px;
    }
}


.footer-card-info {
    width: -webkit-fill-available;
}


@media (min-width: 1000px) {
    .footer-card-info {
        margin: 0px 20px !important;
        width: -webkit-fill-available;
    }
}

@media (min-width: 1300px) {
    .footer-card-info {
        margin: 0px 100px !important;
        width: -webkit-fill-available;
    }
}