
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
}

.navbar ul {
    list-style-type: none;
    color: white;
    display: inline-flex;
    margin-left: 20px;
}
.navbar a {
    text-decoration: none;
    color: white;
    justify-self: center;
    margin-left: 40px;
    font-size: 24px;
}
nav{
    display: flex;
    position: relative;
    justify-content: center;
    box-sizing: border-box ;
}
mat-form-field{
    margin-top: 3%;
    margin-right: 3%;
    text-transform: uppercase;
}
mat-option{
    color: white;
}

  .navbar-toggle {
    position: relative;
    display: none;
    width: 38px;
    height: 26px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
  }

  .navbar-toggle-icon {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-toggle-icon:nth-child(1) {
    top: 0;
  }

  .navbar-toggle-icon:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  .navbar-toggle-icon:nth-child(3) {
    bottom: 0;
  }
    .navbar-toggle {
      display: block;
    }
