.divider {
    color: #ff4949;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
}

.GetAQuoteButton {
    display: flex;
}

.GetAQuoteButton:hover span:first-child {
    order: 2;
    transition: .5s;
}

.GetAQuoteButton:hover span:last-child {
    order: 1;
    transition: 300ms;
}

.GetAQuoteButton:hover {
    background-color: white !important;
    transition: 500ms;
}



.from-div {
    background-color: #212830;
    border-radius: 10px;
}



.card1:hover svg:first-child {
    fill: #ff4949;
}

.card1:hover .contact-view-btn {
    opacity: 0.9;
    // color: #ff4949;
}

.ho {
    color: #5E636F;
}

.ho:hover {
    color: #ff4949;
}

.contact-view-btn:after {
    content: "_____  ";
}

.contact-view-btn:hover:before {
    content: "_____  ";
}

.contact-view-btn:hover:after {
    content: "";
}

@media only screen and (max-width: 766px) {
    .bg-positions {
        background-position: 50%;
    }
}