.divider {
    color: #ff4949;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    padding: 3px;
}

.GetAQuoteButton {
    display: flex;
}

.GetAQuoteButton:hover span:first-child {
    order: 2;
    transition: .5s;
}

.GetAQuoteButton:hover span:last-child {
    order: 1;
    transition: 300ms;
}

.GetAQuoteButton:hover {
    background-color: white !important;
    transition: 500ms;
}



.from-div {
    background-color: #212830;
    border-radius: 10px;
}



.card1:hover svg:first-child {
    fill: #ff4949;
}

.card1:hover button:last-child {
    display: block;
}