.divider {
    color: #ff4949;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 450px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 450px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #ff4949;
    z-index: 2;
    transform: rotateY(0deg);
    height: 100%;
}

.flip-card-back {
    background-color: #ff4949;
    color: white;
    transform: rotateY(-180deg);
    height: 450px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    width: 100%;
    height: 450px;
}

.flip-card:hover .flip-card-front {
    z-index: 1;
}

.flip-card:hover .flip-card-back {
    z-index: 2;
}

.btn {
    background-color: #F5F6F7;
}

.btnActive {
    background-color: #ff4949;
    color: #FFFFFF
}