.example-spacer {
    flex: 1 1 auto;
}

.top-header {
    background-color: black;
    color: white;
    display: flex;
}

.phone,
.timing,
.mail {
    vertical-align: middle;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    padding-left: 60px;
}

.social-icons {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
    padding-right: 0px;
    vertical-align: middle;
    display: flex;

}

mat-icon {
    color: white;
    margin-right: 20px;
}

.main-image {
    height: 900px;
    width: 100%
}

.image-overlay {
    position: relative;
}

.image-overlay::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 15, 40, 0.516);
}

.image-section {
    position: relative;
}

.image-section img {
    display:block;
    width: 120%;
    height: auto;
}
.navbar a {
    text-decoration: none;
    color: white;
    justify-self: center;
    margin-left: 40px;
    font-size: 24px;
}
nav{
    display: flex;
    position: relative;
    justify-content: center;
    box-sizing: border-box ;
}
mat-form-field{
    margin-top: 3%;
    margin-right: 3%;
    text-transform: uppercase;
}
mat-option{
    color: white;
}
// .button-arrow:hover{
//     stroke: black;
// }
// .GetAQuoteButton.GetAQouteText{
//     transition-property: transform;
//     transition-duration: 300ms;
//     transform: translateX(10px);

// }
// .GetAQuoteButton.GetAQouteText:hover{
//     transition-property: transform;
//     transition-duration: 300ms;
//     transform: translateX(10px);

// }
.GetAQuoteButton{
    display: flex;
}

.GetAQuoteButton:hover span:first-child{
    order: 2;

}

.GetAQuoteButton:hover span:last-child{
    order: 1;
}
.GetAQuoteButton:hover{
    background-color: white !important;
}
.primary-color:hover{
    background-color: #FF4949;
}
.primary-color:hover svg:first-child{
    background-color: white;
    fill: black;
}
.transition-scss:hover div:last-child{
    transform: translateY(-20px);
    animation: move-up 2s forwards;
    animation-timing-function: ease-in-out;
 
}
@keyframes animate-text {
    from {
        transform: translateY(0);
      }
      to {
        transform: translateY(-20px);
      }
}
// .laptop-image-div{
//     margin-right: -300px;
//     overflow: hidden;
// }
// .laptop-image{
//     width: 130%;
// }
// .Service:hover{
//     background-color: black !important;
//     // transition: 300ms;
// }
// .Service:hover span:first-child{
//     order: 2 !important;
//     // transition: .5s;
// }

// .Service:hover span:last-child{
//     order: 1 !important;
//     // transition: 300ms;
// }
// :hover {
//     color: var(--hover-color);
//   }
.Service{
    display: flex;
}

.Service:hover span:first-child{
    order: 2;

}

.Service:hover span:last-child{
    order: 1;
}
.Service:hover{
    background-color: black !important;
}